.container {
    position: absolute;
    height: 100vh;
    
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    font-family:clear sans,helvetica neue,Arial,sans-serif;
    font-size:18px
}

.static-grid {
    position: absolute;
    z-index: 1;
}

.static-row {
    margin-bottom: 15px;
}

.static-row:last-child {
    margin-bottom: 0px;
}

.static-row:after {
    content: "";
    display: block;
    clear: both;
}

.grid-cell {
    width: 106.25px;
    height: 106.25px;
    margin-right: 15px;
    float: left;
    border-radius: 3px;
    background: rgba(238, 228, 218, 0.35);
}

.grid-cell:last-child {
    margin-right: 0;
}

.game-grid {
    width: 500px;
    height: 500px;
    padding: 15px;
    background: coral;

    margin: 0 auto;
    margin-top: 30px;
    box-sizing: border-box;
}

.tile-grid {
    position: absolute;
    z-index: 2;
}

.tile.new {
    -webkit-animation: appear 200ms ease 100ms;
    -moz-animation: appear 200ms ease 100ms;
    animation: appear 200ms ease 100ms;
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}

.tile-merged .tile-inner {
    z-index: 20;
    -webkit-animation: pop 200ms ease 100ms;
    -moz-animation: pop 200ms ease 100ms;
    animation: pop 200ms ease 100ms;
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}

.tile {
    height: 107px;
    width: 107px;
    line-height: 107px;

    border-radius: 4px;
    background: wheat;

    text-align: center;
    position: absolute;

    transition: 100ms ease-in-out;
    transition-property: transform;

    font-weight:700;
    font-size:55px
}

.tile.pos-0-0 {
    transform: translate(0px,0px);
}

.tile.pos-0-1 {
    transform: translate(121px, 0px);
}

.tile.pos-0-2 {
    transform: translate(242px, 0px);
}

.tile.pos-0-3 {
    transform: translate(363px, 0px);
}

.tile.pos-1-0 {
    transform: translate(0px,121px);
}

.tile.pos-1-1 {
    transform: translate(121px, 121px);
}

.tile.pos-1-2 {
    transform: translate(242px, 121px);
}

.tile.pos-1-3 {
    transform: translate(363px, 121px);
}

.tile.pos-2-0 {
    transform: translate(0px,242px);
}

.tile.pos-2-1 {
    transform: translate(121px, 242px);
}

.tile.pos-2-2 {
    transform: translate(242px, 242px);
}

.tile.pos-2-3 {
    transform: translate(363px, 242px);
}

.tile.pos-3-0 {
    transform: translate(0px,363px);
}

.tile.pos-3-1 {
    transform: translate(121px, 363px);
}

.tile.pos-3-2 {
    transform: translate(242px, 363px);
}

.tile.pos-3-3 {
    transform: translate(363px, 363px);
}